*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;

    justify-content:space-around;
    width: 100%;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(143, 6, 6);


}
.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    background-color: rgb(143, 6, 6);

}
.logo h4{
    background-color: rgb(143, 6, 6);

}

.menu{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: -5px;
    padding: 8px;
    height: 17px;
    background-color: rgb(143, 6, 6);;
    
}

.menu li{
    background-color: rgb(143, 6, 6);

    display: inline;
}

.button{
    background-color: rgb(143, 6, 6);

    font-family: Arial;
    font-size: 1em;
    font-style: none;
    color: #ffffff;
    padding: 8px;
    text-decoration: none;

}

.button:link{
    background-color: rgb(143, 6, 6);;
    color: #ffffff;
}

.button:hover{
    background-color: rgba(161, 40, 40, 0.747);
} 
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 5px;
    background-color: white;
    margin: 5px;
}
@media only screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .menu {
        position: absolute;
        right: 0px;
        height: 92vh;
        top:8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5 ease-in;
    }
    .menu li{
        opacity: 0;
    }
    .burger
    {
        display: block;
    }
    .buttons{
        display: none;
    }

}
    .nav-active{
        transform: translateX(0%);
    }
@keyframes menuFade {
    form{
        opacity: 0;
        transform: translateX(50%);
    }   
    to{
        opacity: 1;
        transform: translateX(0%);

    } 
}